<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>analyzing textutils</title>
</head>
<body>
    <h1>your analyzed text --{{purpose}}</h1>
    <p>
       <pre> {{analyze_text}}</pre>          <!--in this func we were just removing punc but it ws removing space too hence we have used pre to not to remove space-->
    </p>
    <h1>your capital {{purpose1}}</h1>
    <p>
        {{capitalized}}
    </p>
    <h1>finalized---{{purpose2}}</h1>
    <p>
        the string is {{final}}
    </p>
    <h1>space removed---{{purpose3}}</h1>
    <p>
        the string is {{removed}}
    </p>
    <h1>space removed---{{purpose4}}</h1>
    <p>
        the string is {{countchar}}
    </p>
    <h1>combined---{{purpose5}}</h1>
    <p>
        the string is {{all}}
    </p>
</body>
</html>