<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>textanalyser</h1>
    <form action='/analyze' method='get'>
        <textarea name='text' style="width: 1511px;
        height: 149px;"></textarea>
        <input type="checkbox" name="removeanalyze" id="">remove punc
        <input type="checkbox" name="fullcapitalize" id="">upper case
        <input type="checkbox" name="removespace" id="">remove space
        <input type="checkbox" name="countchar" id="">character count
        <button type='submit'>analyze text</button>
        
    </form>
    
</body>
</html>